<html>
  <head> 
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container">
      <div id="card-word"> </div>
      <div id="card-definition"> </div>
      <div id="interface"> </div>
    </div>
  </body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script> 
  {% include "flashcards.js" %}
</script>
</html>
